<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.wuye.mapper.TestMapper">
    <insert id="saveTest" parameterType="test">
      insert  into test(username,password) values (#{username},#{password})
    </insert>
    <select id="getTestById" parameterType="int" resultType="test">
      select id,username,password from test where id=#{id}
    </select>
</mapper>